@model IEnumerable<SubscriptionDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Subscriptions List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action = "SubscriptionCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Subscription</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Subscription Title
					</th>
					<th>
						Price
					</th>
					<th>
						Days
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model)
                {
				<tr>
					<td>
						@item.subscriptionTitle
					</td>
					<td>
							@item.subscriptionPrice.ToString("c")
					</td>
					<td>
						@item.subscriptionDays
					</td>
					<td>
						@* <a asp-action ="SubscriptionDelete" asp-route-subscriptionId="@item.subscriptionId" class="btn btn-danger">
							<i class="bi bi-trash"></i>
						</a> *@
							<form method="post" asp-action="SubscriptionDelete" asp-route-id="@item.subscriptionId">
								<button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
							</form>
					</td>
				</tr>
				}
			</tbody>
		</table>

	</div>

</div>