@model IEnumerable<OrderDto>

@* <form>
    <div class="container row">

        @foreach(var order in Model)
        {
        <div class="col-4">
            <div class="p-0 my-3 border rounded">
                <div class="card">
                        <h3 class="card-title text-white-50 text-center py-2">@order.title</h3>
                    <div class="card-body">
                        <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:20px;">@string.Format("{0:c}", order.salary)</span>
                                <span class="badge bg-warning text-white p-2">@order.genre</span>
                        </div>
                            <p class="card-text">@Html.Raw(order.description)</p>
                            <div class="row">
                                <div class="col">
                                    <a asp-action="OrderDetails" asp-route-id="@order.id_order" class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</form>

 *@
<form>
    <div class="container row">
        @foreach (var order in Model)
        {
            <div class="col-4">
                <div class="p-0 my-3 border rounded">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem">
                        <h3 class="card-title text-white-50 text-center py-2">@order.title</h3>
                        <div class="card-body">
                            <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:20px;">@string.Format("{0:c}", order.salary)</span>
                                <span class="badge bg-warning text-white p-2">@order.genre</span>
                            </div>
                            <p class="card-text">@Html.Raw(@order.description)</p>
                            <div class="row">
                                <div class="col">
                                    <a asp-action="OrderDetails" asp-route-id="@order.id_order" class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>






@* <form>
    <div class="container row">

        @foreach (var order in Model)
        {
            <div class="row ">
                <div class="my-3 border rounded ">
                    <div class="card bg-gradient">
                        <h3 class="card-title text-white-50 text-center py-2">@order.title</h3>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span class="text-danger" style="font-size:20px;">@string.Format("{0:c}", order.salary)</span>
                                <span class="badge bg-warning text-white p-2">@order.genre</span>
                            </div>
                            <p class="card-text">@Html.Raw(order.description)</p>
                            <div class="row">
                                <div class="col">
                                    <a asp-action="Details" asp-route-id="@order.id_order" class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</form>
 *@

